/* header styles*/

body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 145px;
  margin-left: 145px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav-container {
  display: flex;
  align-items: center;

}


.nav-middle {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0px;
  line-height: 28px;
}

.nav-middle li {
  padding: 14px;

}

.nav-middle a {
  color: #2f281e;
  text-decoration: none;
  list-style-type: none;
}

.nav-right {
  display: flex;
  gap: 14px;

}

.signin {
  background-color: #FFFFFF;
  text-emphasis-color: #173A56;
  width: 102px;
  height: 46px;
}

.signin:hover {
  background-color: #BCD0E5;


}

.signup {
  background-color: #FF9900;
  text-emphasis-color: #FFFFFF;
  width: 110px;
  height: 46px;
}


.signup:hover {
  background-color: #FF9900;
}

/* layout1 styles*/
.layout1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  margin-top: 30px;
}



.design1-left h1 {

  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 54px;
  color: #2F281E;
  margin-bottom: 30px;

}

.design1-left p {
  letter-spacing: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
  margin-bottom: 30px;
}

.getstarted {
  width: 175px;
  height: 53px;
  background-color: #FF9900;
  text-emphasis-color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-style: bold;
  font-size: 16px;
  letter-spacing: 0px;

}


.design1-end {
  display: flex;
  align-items: center;
  gap: 9px;


}

.design1-end a {
  font-family: "Poppins", sans-serif;
  font-weight: semibold;
  font-size: 16px;
  line-height: auto;
  color: #FF9900;
}


.design1-img {
  display: flex;
  align-items: end;
  gap: 9px;
  width: 605px;
  height: 496px;

}



/*layout2 styles*/
.layout2 {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.design2 {
  display: flex;
  justify-content: center;
}

.design2 h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: auto;
  letter-spacing: 0px;
  color: #2f281e;
  text-align: center;
  max-width: 539px;
  width: 100%;
  min-height: 108px;
}

.design2-body {
  display: flex;
  flex-direction: row;
  gap: 46px;
  margin: 54px 0px 34px;
  /*max-width: 1095px;
  width:100%;
  min-height: 207px;*/

}

.design2-body h4 {
  font-family: "Poppins", sans-serif;
  font-weight: semibold;
  font-size: 22px;
  line-height: auto;
  letter-spacing: 0px;
  color: #2F281E;
}

.design2-body p {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #544837;
}

.signupnow {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0px;
  background-color: #FF9900;
  width: 175px;
  height: 54px;
  color: #FFFFFF;
  margin-top: 35px;
  text-transform: uppercase;
}

.signupnow:hover {
  background-color: #FF9900;

}

/*layout3 styles*/
.layout3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*max-width: 486px;
  width:100%;
  min-height: 531px;*/
}

.design3-left span {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 16px;
  color: #544837;
}

.design3-left h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: auto;
  letter-spacing: 0px;
  color: #2F281E
}

.design3-left p {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #544837;
}

.design3-left h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #2F281E;
}

.design3-right {
  display: flex;
  justify-content: end;
  align-items: center;

}

/* layout 4 styles*/
.layout4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.design4-left img {
  display: flex;
  justify-content: start;
  align-items: center;
}

.design4-right {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  max-width: 486px;
  width: 100%;
  min-height: 427px;
}

.design4-right span {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0px;
  color: #544837;
}

.design4-right h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: auto;
  letter-spacing: 0px;
  color: #2F281E;

}

.design4-right p,
.design4-right-content p {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #544837;


}

.design4-right-content img,
.design4-right-content p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*width:1109px;
  height:308px;*/
}

/*layout 5 styles*/
.layout5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.design5-left p {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: auto;
  letter-spacing: 0px;
  color: #544837;
}

.design5-left h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: auto;
  letter-spacing: 0px;
  color: #2F281E;
}

.design5-left p {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #544837;
}